<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.smartwishlist.smartwishlistapp" >

    <permission
        android:name="net.smartwishlist.smartwishlistapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="net.smartwishlist.smartwishlistapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTask"
            android:taskAffinity="" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProductInfoActivity"
            android:label="@string/title_activity_product_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotificationActivity" />
        </activity>
        <activity
            android:name=".WebSiteActivity"
            android:label="@string/title_activity_web_site" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SetupActivity"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.smartwishlist.smartwishlistapp.SetupActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="net.smartwishlist.smartwishlistapp" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:name=".NotificationBroadcastReceiver" >
            <intent-filter>
                <action android:name="NOTIFICATION_CLICKED" />
                <action android:name="NOTIFICATION_DELETED" />
                <action android:name="NOTIFICATION_BUY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AppGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GcmInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GcmRegistrationIntentService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9f84dec479e222214d1e5f429ef14c2474fad5f" />
    </application>

</manifest>
